<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Mission to Mars</title>
  </head>
  
  <body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-10">
              <div class="card text-center my-3">
                <div class="card-body">
                  <h1 class="card-title text-center">Mission to Mars</h1>
                  <hr/>
                  <p><a class="btn btn-primary btn-lg" href="mars.html" role="button"> Scrape Data</a></p>
                </div>
              </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-10">

              <div class="card text-center my-3">
                <div class="card-body">
                  <h1 class="card-title text-center">Latest Mars News</h1>
              <div></div>
              <h1 style= "text-align: center; font-size: 30px">NASA to Attempt First Controlled Flight on Mars As Soon As Monday</h1>
              <p>A livestream will begin at 3:15 a.m. PDT that morning as the helicopter team prepares to receive the data downlink at NASA’s Jet Propulsion Laboratory.</p>
        
              <img src="../static/Images/mission_to_mars.png" style="width:75%">
            </div>
          
              <div class="row">          
                  <div class="col-md-6">
                      <div class="col-md-12">
                          <h3 style= "text-align: center; font-size: 50px">Featured Mars Image</h3>
                          <div class="thumbnail">
                              <img class="img-thumbnail float-top" src="../static/Images/Screenshots/jpl.jpg" width="100%" alt="feature">
                          </div>
                    </div>
                  </div>
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-3" style="margin-right:auto;margin-left: -80px;">
                    <div class="col-md-12">
                      <h3 style= "text-align: center; font-size: 50px">Mars Facts</h3>
                      <div style="text-align: right;  font-size: 50px; margin-bottom: 70px;">
                        <img src="../static/Images/Screenshots/Capture.JPG" style="width:100%">
                      </div>
                      </div>
                  </div>   
              
                  <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-sm-10">
                          <div class="card text-center my-3">
                            <div class="card-body">
                      <h1 class="card-title text-center">Mars Hemispheres</h1>
                  <div></div>
                  
  
                  <img src="../static/Images/final_app_part2.png" style="width:75%">
                  <div></div>
              
                          
                          </div>

                          
                     
  

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
